
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

body{
	margin: 50px;
	font-family: 'Cairo', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	background-color: #0a0413;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23403e44' fill-opacity='0.13'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
	color: #d9e4dd;
	display: grid;
	grid: 
	"header header header header" auto
	"...... lists active ......" auto /
	1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}


.title{
	grid-area: header;
	text-align: center;
	font-size: 3.3rem;
	font-weight: 900;
	color: #625261;
	letter-spacing: 2px;
	word-spacing: 40px;
	margin-bottom: 100px;
}

.all-tasks{
	grid-area: lists;
	word-spacing: 4px;

}

.task-list{
	line-height: 1.7;
	font-size: 1rem;
	list-style: circle;
	padding-left: 1.1em;
}

.list-name{
	cursor: pointer;
}

.list-name:hover{
	color: cyan;
	opacity: 0.7;
}

form{
	display: flex;
}

.btn{
	cursor: pointer;
	background: 0;
	border: 0;
	padding: 0;
	color: inherit;
}

.btn.create{
	font-size: 1.5rem;
	font-weight: 700;
	margin-right: 0.45em;
	transition: opacity 150ms ease-in;
}

.btn.create:hover{
	color: cyan;
	opacity: 0.7;
}

.new{
	background: transparent;
	border: 0;
	color: inherit;
	border-bottom: 1px solid currentColor;
	font-size: inherit;
	outline: none;
	padding: 0.25em;

	transition: border-bottom 150ms ease-in;
	order: 2;
}

.new::placeholder{
	opacity: 0.4;
	letter-spacing: 1px;
}


.new:focus{
	border-color: cyan;
	border-bottom-width: 3px; 
}

.new:focus::placeholder{
	opacity: 0.2;
}


.new.list{
	font-size: 0.9rem;
	font-weight: 550;
}

.new.task{
	margin-bottom: 0;
	font-size: 0.9rem;
	font-weight: 600;
}

.active-list{
	font-weight: 900;
	color: #ffc93c;
}

.todo-list{
	grid-area: active;
	background-color: #ffc93c;
	color: #fbf7f0;
	word-spacing: 4px;
	border-radius: 10px;
	box-shadow: 0 0 25px #838383;

}

.todo-header{
	color: #bad7df;
	padding:10px;
	display: flex;
	border-radius: 10px 10px 0px 0px;
	align-items: center;
	justify-content: space-between;
	background-color: #2b2e4a;
}

.list-title{
	margin: 0 1em 0 0;
	font-size: 1.5rem;
	letter-spacing: 1px;
	padding: 10px;
}

.task-count{
	margin: 0;
	font-size: 0.9rem;
}

.todo-body{
	padding: 15px;
	position: relative; 
}

.new-task-creator .create{
	opacity: 0.8;
	color: #222831;
}

[type="checkbox"]{
	opacity: 0;
	position: absolute;
}

.task label{
	display: inline-flex;
	align-items: center;
	position: relative;
}

.task{
	position: relative;
	margin-bottom: 1.5em;
}

.task::after{
	content: "";
	position: absolute;
	right: 0;
	left: 0;
	bottom: -0.5em;
	height: 1px;
	background-color: currentColor;
	opacity: 0.3;
}
.custom-checkbox{
	--size: 0.75em;
	display: inline-block;
	width: var(--size);
	height: var(--size);
	margin-right: var(--size);
	cursor: pointer;
	border: 2px solid currentColor;
	border-radius: 50%;
	transform: scale(1);
	transition: transform 90ms ease-in;

}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox{
	transform: scale(1.2);
	color: #424874;
}


[type="checkbox"]:checked + label .custom-checkbox{
	background: #625772;
	border-color: #cefff1;
}

[type="checkbox"]:checked + label {
	opacity: 0.6;
}

.task label::after{
	content: "";
	position: absolute;
	left: 1.7em;
	right: 0;
	top: 55%;
	height: 1px;
	background: currentColor;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 150ms ease-in;
}

[type="checkbox"]:checked + label::after {
	transform: scaleX(1);
	transform-origin: left;

}

.delete-stuff{
	display: flex;
	justify-content: space-evenly;
	position: relative;
	width: 100%;
	left: 0;
	top: 50px;
	color: #f6f7d7;
	letter-spacing: 10px;
}

.btn.delete{
	padding: 5px 17px;
	background: transparent;
	font-size: 0.8em;
	letter-spacing: 1px;
	opacity: 0.9;
	border: 2px solid #2b2e4a;
	border-radius: 5px;
}

.btn.delete:hover{
	color: #a6b1e1;
	border-color: #fddb3a;

}



