
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

body{
	margin: 0;
	font-family: 'Cairo', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	background: url('https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	color: #d9e4dd;
	display: grid;
	grid: 
	"header header header header" auto
	"...... lists active ......" auto /
	1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}


.title{
	grid-area: header;
	text-align: center;
	font-size: 3.3rem;
	font-weight: 900;
	color: #1fab89;
	letter-spacing: 2px;
	word-spacing: 40px;
}

.all-tasks{
	grid-area: lists;
	word-spacing: 4px;

}

.task-list{
	line-height: 1.7;
	font-size: 1rem;
	list-style: circle;
	padding-left: 1.1em;
}

.list-name{
	cursor: pointer;
}

.list-name:hover{
	color: cyan;
	opacity: 0.7;
}

form{
	display: flex;
}

.btn{
	cursor: pointer;
	background: 0;
	border: 0;
	padding: 0;
	color: inherit;
}

.btn.create{
	font-size: 1.5rem;
	font-weight: 700;
	margin-right: 0.45em;
	transition: opacity 150ms ease-in;
}

.btn.create:hover{
	color: cyan;
	opacity: 0.7;
}

.new{
	background: transparent;
	border: 0;
	color: inherit;
	border-bottom: 1px solid currentColor;
	font-size: inherit;
	outline: none;
	padding: 0.25em;

	transition: border-bottom 150ms ease-in;
	order: 2;
}

.new::placeholder{
	opacity: 0.4;
	letter-spacing: 1px;
}


.new:focus{
	border-color: cyan;
	border-bottom-width: 3px; 
}

.new:focus::placeholder{
	opacity: 0.2;
}


.new.list{
	font-size: 0.9rem;
	font-weight: 550;
}

.new.task{
	margin-bottom: 0;
	font-size: 0.9rem;
	font-weight: 600;
}

.active-list{
	font-weight: 900;
	color: cyan;
}

.todo-list{
	grid-area: active;
	background-color: #9ab3f5;
	color: #fbf7f0;
	word-spacing: 4px;
	box-shadow: 0 0 15px #32e0c4;

}

.todo-header{
	color: #d9e4dd;
	padding:10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1f5f8b;
}

.list-title{
	margin: 0 1em 0 0;
	font-size: 1.5rem;
	letter-spacing: 1px;
	padding: 10px;
}

.task-count{
	margin: 0;
	font-size: 0.9rem;
}

.todo-body{
	padding: 15px;
	position: relative; 
}

.new-task-creator .create{
	opacity: 0.8;
	color: #222831;
}

[type="checkbox"]{
	opacity: 0;
	position: absolute;
}

.task label{
	display: inline-flex;
	align-items: center;
	position: relative;
}

.task{
	position: relative;
	margin-bottom: 1.5em;
}

.task::after{
	content: "";
	position: absolute;
	right: 0;
	left: 0;
	bottom: -0.5em;
	height: 1px;
	background-color: currentColor;
	opacity: 0.3;
}
.custom-checkbox{
	--size: 0.75em;
	display: inline-block;
	width: var(--size);
	height: var(--size);
	margin-right: var(--size);
	cursor: pointer;
	border: 2px solid currentColor;
	border-radius: 50%;
	transform: scale(1);
	transition: transform 90ms ease-in;

}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox{
	transform: scale(1.2);
	color: cyan;
}


[type="checkbox"]:checked + label .custom-checkbox{
	background: #2d6187;
	border-color: cyan;
}

[type="checkbox"]:checked + label {
	opacity: 0.5;
}

.task label::after{
	content: "";
	position: absolute;
	left: 1.7em;
	right: 0;
	top: 55%;
	height: 1px;
	background: currentColor;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 150ms ease-in;
}

[type="checkbox"]:checked + label::after {
	transform: scaleX(1);
	transform-origin: left;

}

.delete-stuff{
	display: flex;
	justify-content: space-evenly;
	position: relative;
	width: 100%;
	left: 0;
	top: 50px;
	color: #f6f7d7;
	letter-spacing: 10px;
	opacity: 0.8;

}

.btn.delete{
	font-size: 0.8em;
	letter-spacing: 1px;
	opacity: 0.9;
}

.btn.delete:hover{
	color: #fddb3a;

}



